<p>Hello,</p>
<p>
  You have been invited to join our platform by <%= @referrer.email %>! 
  Click the link below to sign up and explore.
</p>
<p><a href="http://localhost:3001/signup">Join Now</a></p>
<p>We look forward to seeing you!</p>
